body {
    padding-top: 70px;
    background-color: gray;
  }

  textarea {
    resize: none;
    height: 100px;
}

  #questionCard {
      display: none;
  }

  .navbar-text {
    font-weight: bold;
  }

  #scoreCard {

    margin-top: 20px;
  }

  .shake {
    /* outline: 5px;
    outline-color: red; */
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}
/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-20px);
    }
    25%, 58% {
        -webkit-transform: translateX(20px);
    }
    75% {
        -webkit-transform: translateX(-10px);
    }
    92% {
        -webkit-transform: translateX(10px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}