body {
    padding-top: 70px;
    background-color: gray;
  }

  textarea {
    resize: none;
    height: 100px;
}

  #questionCard {
      display: none;
  }

  .navbar-text {
    font-weight: bold;
  }

  #scoreCard {

    margin-top: 20px;
  }

  #scoreCard {
    display: none;
  }